<template name="home">
  <div class="text-center loginscreen animated fadeInDown">
          <div class="row div-top-image">
            <img src="/img/darth_mask.png" class="img-responsive center-block logo-image">
          </div>

          <div>
             <h1 class="logo-name">StarQuiz!</h1>
          </div>

          <div class="div-top-button">
             <button type="button" id="play" class="btn button-play-select button-play">JOGAR!</button>
          </div>

  </div>

  <!-- Ranking Detail -->
  <div id="show-ranking-form" class="modal fade" aria-hidden="true" style="display: none; margin-top: 120px;">
    <div class="modal-dialog modal-sd">
      <div class="modal-content animated flipInY">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             <img src="/img/darth_mask.png" class="img-responsive center-block modal-image-quiz pull-left">
             <h2 class="modal-name-quiz pull-left"><b>StarQuiz Ranking!</b></h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">

              <form id="form" action="#" class="wizard-big">
                  <div class="text-center">
                    <h1><b>TOP 10</b></h1>
                    <br>
                  </div>
                  <fieldset>


                        <div class="ibox-content">

                            <table class="table">
                                <thead>

                                <tr class="text-left">
                                    <th class="text-left">#</th>
                                    <th>Name</th>
                                    <th>Score</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                               {{#each register}}
                                        <tr class="text-left">
                                            <td class="text-left">{{{position @index}}}</td>
                                            <td>{{name}}</td>
                                            <td>{{score}}</td>
                                            <td>{{time}}</td>
                                        </tr>
                                {{/each}}

                                </tbody>
                            </table>

                        </div>

                  </fieldset>
                  <br>
                  <div class="row text-center">
                      <div class="col-lg-12">
                          <button type="button" id="closeRanking"  class="btn m-md btn-primary button-quiz-save">Fechar</button>
                      </div>
                  </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
