.logo-name {
  color: #000000;
  font-size: 130px;
  font-weight: 800;
  //letter-spacing: -10px;
  margin-bottom: 0;
}

.logo-name-quiz{
  color: #000000;
  font-size: 50px;
  font-weight: 600;
  //letter-spacing: -10px;
  margin-top: 0px;
  margin-left: 25px;
}
.modal-image-quiz{
  width: 50px;
  height: 50px;
  //margin-left:20px;
}

.modal-name-quiz{
  color: #000000;
  font-size: 35px;
  font-weight: 300;
  //letter-spacing: -10px;
  margin-top: 1px;
  margin-left: 10px;
}

.div-top-button{
  margin-top: 80px;
}

.div-top-image{
  margin-top: 80px;
}

.div-top-quiz{
  margin-top: 40px;
}

.div-top-table-quiz{
  margin-top: 100px;
}

.logo-image{
  width: 460px;
  height: 460px;
}

.logo-image-quiz{
  width: 70px;
  height: 70px;
  //margin-left:20px;
}

.image-quiz{
  width: 200px;
  height: 200px;
  //margin-left:20px;
}

.div-clockDown-quiz{
  margin-top: -5px;
}

.button-play{
  text-align: center;
  background-color: #000000;
  font-size: 40px;
  color: #ffffff;
  width: 460px;
  height: 100px;
}

.button-play:hover, .button-play:focus, .button-play:active, .button-play.active, .open .dropdown-toggle.button-play, .button-play:active:focus, .button-play:active:hover, .button-play.active:hover, .button-play.active:focus {
  background-color: #FFFFFF;//darken(#008000, 3%);
  border-color: #FFFFFF;//darken(#008000, 3%);
  color: #000000;
}
.clock-quiz{
  text-align: center;
  font-size: 50px;
  margin-top:-10px;
  color:#000000;
  margin-right:20px;
}

.button-quiz{
  // text-align: center;
  background-color: #000000;
  // font-size: 30px;
  color: #ffffff;
  width: 100px;
  height: 50px;
}

.button-quiz-save{
  width: 300px;
  height: 50px;
}

.button-name-quiz {
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  //letter-spacing: -10px;
  margin-top: 0px;
}

.button-name-quiz-question {
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  //letter-spacing: -10px;
  margin-top: 7px;
  text-align: center;
}

.button-name-quiz-save {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  //letter-spacing: -10px;
  margin-top: 7px;
  text-align: center;
}

.button-tab {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  //cursor: pointer;
}

.button-tab:hover {
  opacity: 0.8;
}

.regForm-tab {
  background-color: transparent;
  margin: 100px auto;
  width: 100%;
}
.prevBtn-tab {
  background-color: #bbbbbb;
}

.body-tab {
  background-color: #f1f1f1;
}


.tab-quiz {
  display: none;
}

.step-tab {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step-tab.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-tab.finish {
  background-color: #4CAF50;
}
