.color-green h4:not(.color-not){
  color: #1ab394;
}

/*CSS alert form*/
.s-alert-error{
  background: #ec4758;
  border-color: #ec4758;
  z-index:99999;
}
.s-alert-success{
  background-color: #18a689;
  border-color: #18a689;
  z-index:99999;
}

/*Loading form*/
.content-loading{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.7);
  z-index: 3;
}
.content-loading img{
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}
