<template name="quiz">
  <style>* {box-sizing: border-box;}body {background-color: #f1f1f1;}.tab {display: none;}#prevBtn {background-color: #bbbbbb;}</style>
  <div class="text-center loginscreen animated fadeInDown">
          <div class="row">
              <div class="col-lg-12 div-top-quiz">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-4">
                       <img src="/img/darth_mask.png" class="img-responsive center-block logo-image-quiz pull-left">
                       <h1 class="logo-name-quiz pull-left">StarQuiz!</h1>
                  </div>

                  <div class="col-lg-3">
                    <div class="div-clockDown-quiz">
                          <i class="fa fa-clock-o fa-5x pull-right" style="color:black"></i>
                        </div>
                  </div>
                  <div class="col-lg-1">
                        <label id="clockCountDown" class="pull-right clock-quiz">{{timerCount}} </label>
                  </div>
                  <div class="col-lg-2"></div>
              </div>
          </div>
          <div class="row div-top-table-quiz">
            <div class="col-lg-12">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <body>
                  <div class="regForm-tab" >
                    {{#each creatTabs}}
                          <div class="tab">
                                <div class="row">
                                  <div class="col-lg-12">
                                    {{#each people skip limit}}
                                          <div class="col-lg-3">
                                            <div class="contact-box">
                                              <div class="row">
                                                <div class="col-sm-12">
                                                  <div class="text-center">
                                                    <img alt="image" class="image-quiz" src={{image}}>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row div-top-quiz">
                                                <div class="col-sm-6">
                                                  <a class="button-quiz pull-left"><h1 id="{{_id}}"  class="button-name-quiz-question pull-center personName">?</h1></a>
                                                </div>
                                                <div class="col-sm-6">
                                                  <a class="button-quiz pull-right"><h1 id="{{_id}}" class="button-name-quiz pull-center detail">...</h1></a>
                                                </div>
                                                <div class="clearfix"></div>
                                              </div>
                                            </div>
                                          </div>
                                    {{/each}}
                                  </div>
                                </div>
                           </div>
                    {{/each}}
                          <br><br>
                          <div style="overflow:auto;">
                            <div style="float:center;">
                              <button type="button"  class="button-tab" id="prevBtn" >Previous</button>
                              <button type="button"  class="button-tab"  id="nextBtn" >Next</button>
                            </div>
                          </div>
                          <div style="text-align:center;margin-top:40px;">
                            {{#each creatTabs}}
                                <span class="step-tab"></span>
                            {{/each}}
                          </div>
                  </div>
                </body>
              </div>
                <div class="col-lg-2"></div>
         </div>
      </div>
  </div>

  <!-- Show Detail -->
  <div id="show-detail-form" class="modal fade" aria-hidden="true" style="display: none; margin-top: 120px;">
    <div class="modal-dialog modal-sd">
      <div class="modal-content animated flipInY">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <!-- <h2 class="wrapper"><b>Details</b></h2> -->
            <img src="/img/darth_mask.png" class="img-responsive center-block modal-image-quiz pull-left">
            <h2 class="modal-name-quiz pull-left"><b>Details</b></h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">

              <div class="contact-box">
                  <div class="row">
                          <div class="col-sm-6">
                              <div class="text-center">
                                  <img alt="image" class="image-quiz" src="{{detail.image}}">
                                  <br><br>
                              </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="text-left">
                                <p><b>Specie</b>: {{detailSessionArray detail.species}}</p>
                                <p><b>Height</b>: {{detail.people.height}}</p>
                                <p><b>Mass</b>: {{detail.people.mass}}</p>
                                <p><b>Skin</b>: {{detail.people.skin_color}}</p>
                                <p><b>Hair</b>: {{detail.people.hair_color}}</p>
                                <p><b>Gender</b>: {{detail.people.gender}}</p>
                                <p><b>Planet</b>: {{detail.homeworld}}</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-left">
                                <p><b>Movies</b>: {{detailSessionArray detail.films}}</p>
                                {{#if showVehicles detail.vehicles}}
                                    <p><b>Vehicles</b>: {{detailSessionArray detail.vehicles}}</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Finish Detail -->
  <div id="show-finish-form" class="modal fade" aria-hidden="true" style="display: none; margin-top: 120px;">
    <div class="modal-dialog modal-sd">
      <div class="modal-content animated flipInY">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             <img src="/img/darth_mask.png" class="img-responsive center-block modal-image-quiz pull-left">
             <h2 class="modal-name-quiz pull-left"><b>StarQuiz Finalizado!</b></h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">

              <form id="form" action="#" class="wizard-big">
                  <div class="text-center">
                    <h1><b>{{scoreFinal}} pontos</b></h1>
                    <br>
                  </div>
                  <fieldset>
                      <h3>Preencha o form abaixo para salvar sua pontuação:</h3>
                      <br>
                      <div class="row text-center">
                          <div class="col-md-8 col-md-offset-2">
                              <div class="form-group">
                                  <label>Nome </label>
                                  <input id="userName" name="userName" type="text" class="form-control required">
                              </div>
                              <div class="form-group">
                                  <label>E-mail </label>
                                  <input id="email" name="email" type="text" class="form-control required">
                              </div>

                          </div>

                      </div>

                  </fieldset>
                  <br>
                  <div class="row text-center">
                      <div class="col-lg-12">
                          <button type="button" id="saveUser"  class="btn m-md btn-primary button-quiz-save">Salvar</button>
                      </div>
                  </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Input Detail -->
  <div id="show-input-form" class="modal fade" aria-hidden="true" style="display: none; margin-top: 120px;">
    <div class="modal-dialog modal-sd">
      <div class="modal-content animated flipInY">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <img src="/img/darth_mask.png" class="img-responsive center-block modal-image-quiz pull-left">
                 <h2 class="modal-name-quiz pull-left"><b>StarQuiz!</b></h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">

              <form id="form" action="#" class="wizard-big">
                  <div class="text-center">
                        <img alt="image" class="image-quiz" src="{{detail.image}}">
                    <br>
                    <br>
                  </div>
                  <fieldset>
                      <h2>Qual o nome desse personagem?</h2>
                      <br>
                      <div class="row">
                          <div class="col-lg-12">
                            <select class="form-control" id="selectPersonName" disabled="false">
                                <option value="" selected>Selecione um nome</option>
                                {{#each peopleNames}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            </select>

                          </div>

                      </div>

                  </fieldset>
                  <br>
                  <div class="row text-center">
                      <div class="col-lg-12">
                          <button type="button" id="savePersonName" name="{{detail._id}}" class="btn m-md btn-primary button-quiz-save">Salvar</button>
                      </div>
                  </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Roles Detail -->

  <div id="show-roles-form" class="modal fade in"  data-keyboard="false" data-backdrop="static" style="display: none; margin-top: 120px;">
      <div class="modal-dialog modal-md">
          <div class="modal-content animated flipInY">
              <div class="modal-header">
                  <img src="/img/darth_mask.png" class="img-responsive center-block modal-image-quiz pull-center">
                  <br>
                  <h1 class="modal-title"><strong>StarQuiz Regras!</strong></h1>
                  <br>
                  <hr>
                  <div class="modal-body">
                      <p class="text-left"><h3 class="text-left"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Você conhece os personagens de Star Wars? </h3></p>
                      <p class="text-left"><h3 class="text-left"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sim? Então mostre-nos!</h3></p>
                      <p class="text-left"><h3 class="text-left"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Com esse quiz você terá oportunidade de identificar os principais personagens de Star- wars, marcar pontos e se tornar um expert nesta série de filmes maravilhosa!</h3></p>
                  </div>
              </div>
              <div class="modal-body">

                <p class="text-left"><strong>Pontuação:</strong> </p>
                <p class="text-left"><i class="fa fa-circle" aria-hidden="true"></i> 10 pontos para cada personagem que acertar, se não tiver consultado os detalhes do mesmo;</p>
                <p class="text-left"><i class="fa fa-circle" aria-hidden="true"></i> 5 pontos para cada personagem que acertar e tiver consultado os detalhes do mesmo;</p>
                <p class="text-left"><i class="fa fa-circle" aria-hidden="true"></i> Não é permitido responder mais de uma vez ao mesmo personagem;</p>

              </div>
              <div class="row text-center">
                  <div class="col-lg-12">
                      <button type="button" id="startQuiz"  class="btn m-md btn-primary button-quiz-save">Começar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>


</template>
