<template name="userSearchResult">
    <span>{{name}}</span>
</template>

<template name="zipCodeSearchResult">
    <span>{{city}}, {{county}} - {{stateISO}}</span>
</template>

<template name="productSearchResult">
    <span class="label label-primary">{{sku}}</span> {{name}}
</template>
