<template name="footer">

    <div class="footer">
        <div class="pull-right">

        </div>
        <div>
            <strong>Copyright</strong> Leno Lima &copy; 2016
        </div>
    </div>

</template>
