<template name="navigation">
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">

			<!-- Close canvas menu used only on OffCanvas page -->
			<!-- You can remove this tag if you dont use offCanvas menu -->
			<a class="close-canvas-menu"><i class="fa fa-fw fa-times"></i></a>
			<!-- End offCanvas menu toggle -->

			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element"> <span>
              <img alt="BEENET" class="img-circle" src="/img/logo.png"/>
                             </span>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
	                            class="font-bold">{{userName}}</strong>
                            </span> <span class="text-muted text-xs block">{{userTitle}} <b
	                            class="caret"></b></span> </span> </a>
						<ul class="dropdown-menu  m-t-xs">
							<li><a href="{{pathFor route='login'}}">Logout</a></li>
						</ul>
					</div>
					<div class="logo-element">
						BeeNet
					</div>
				</li>
				<li class="{{isActiveRoute regex='dashboard'}}">
					<a href="{{pathFor route='dashboard'}}">
						<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-label" data-i18n="nav.dashboard">Dashboard</span>
					</a>
				</li>

				<li class="{{isActiveRoute regex='hotspot'}}">
					<a href="{{pathFor route='hotspot'}}">
						<i class="fa fa-wifi" aria-hidden="true"></i>
						<span class="nav-label" data-i18n="nav.hotspot">Hotspot</span>
					</a>
				</li>

				<li class="{{isActiveRoute regex='city'}}">
					<a href="{{pathFor route='city'}}">
						<i class="fa fa-building" aria-hidden="true"></i>
						<span class="nav-label" data-i18n="nav.city">City</span>
					</a>
				</li>

			

				<!-- {{#if userIsInRole 'SUPERADMIN'}} -->
				<li class="{{isActiveRoute regex='users|userroles|ecommerce'}}">
						<a href="#"><i class="fa fa-cogs"></i> <span class="nav-label" data-i18n="nav.settings">Settings</span><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse {{isActiveRoute regex='users|userroles|ecommerce' className='in'}}">
							<li class="{{isActiveRoute regex='users'}}">
								<a href="{{pathFor route='users'}}">
									<i class="fa fa-fw fa-users"></i>
									<span class="nav-label" data-i18n="nav.users">Users</span>
								</a>
							</li>

						</ul>
				</li>

			</ul>

		</div>
	</nav>
</template>
